.ps-site-features {
  border-top: 1px solid #e1e1e1;

  .ps-block--site-features {
    padding: 50px 0;
    border-bottom: 1px solid #e1e1e1;
  }
}
.ps-block--site-features {
  padding: 30px;
}
.ps-block--site-features {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
  border: 1px solid #d9d9d9;
}
.ps-block--site-features .ps-block__item:first-child {
  padding-left: 15;
}
@media (max-width: 1440px) {
  .ps-block--site-features .ps-block__item {
    flex-flow: row wrap;
    border-right: none;
  }
}

@media (max-width: 1680px) {
  .ps-block--site-features .ps-block__item {
    padding: 0 15px;
  }
}
.ps-block--site-features .ps-block__item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 10px 40px;
  border-right: 1px solid #dadada;
  max-width: 20%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: border-box;
}

.ps-block--site-features {
  padding: 30px;
}
.ps-block--site-features {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
  border: 1px solid #d9d9d9;
}
