footer {
  background-color: var(--theme-color);
}

footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .input-group-text {
  background-color: var(--theme-color);
  color: white;
  padding: 8px 17px;
}
